Django==4.0
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
djangorestframework
djangorestframework-jwt
djangorestframework-simplejwt
channels==4.0.0
asgiref>=3.5.0
daphne==3.0.0
channels_redis>=3.0.0
pillow
daphne
whitenoise