$white: #F0F5FF;
// $red: #FF6F61;
$red: #5e6bf6;
$grey: #2C2F36;
$black: #191B21;

@mixin flex($pos1: center, $pos2: center)
{
  display: flex;
  justify-content: $pos1;
  align-items: $pos2;
}

@mixin btn2($display: block)
{
  display: $display;
  background-color: $black;
  border: 1px solid $red;
  border-color: $red;
  margin: 20px 0;
  padding: 0.8em 2.5em;
  text-align: center;
  cursor: pointer;
  &:hover
  {
    border-color: $grey;
    border-radius: 10px;
    box-shadow: 2px 3px 1px $red;
    transform: translate(-1px, -2px);
  }
}

@mixin btn3($display: block)
{
  display: $display;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 7px;
  cursor: pointer;
}

@mixin btn4()
{
  margin: 0;
  padding: 10px;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: $red;
  &:hover
  {
    transform: scale(1.1);
  }
}

html, body
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: $black;
  place-content: center;
  place-items: center;
}

body
{
  place-items: center;
  width: 100%;
}

:root
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $white;
  background-color: $black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

#app
{
  padding-top: 70px;
  width: 100%;
}

.container
{
  height: 100%;
  width: 100%;
  @include flex();
}

.contain
{
  height: 100%;
  width: 100%;
  @include flex();
  margin: 0 12px;
}

button,a
{
  display: inline-block;
  text-decoration: none;
  padding: 0.6em 1.2em;
  margin: 3px;
  font-size: 1em;
  font-weight: 500;
  background-color: $black;
  color: $red;
  border: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-out;
  &:hover
  {
    border-color: $grey;
    border-radius: 10px;
    box-shadow: 2px 3px 1px $red;
    transform: translate(-1px, -2px);
  }
}

.active-link
{
  border-color: $grey;
  border-radius: 10px;
  box-shadow: 2px 3px 1px $red;
  &:hover
  {
    transform: none;
  }
}

h1
{
  font-size: 3.2rem;
}

h2
{
  font-size: 2rem;
}
h3
{
  font-size: 1.5rem;
}
p
{
  font-size: 1rem;
}

ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

form
{
  width: 100%;
  max-width: 400px;
  input
  {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    color: $white;
    background-color: $grey;
    font-size: 1em;
    transition: 0.3s ease-out;
    border: none;
    outline: 1px solid transparent;
    &:focus
    {
      outline: 1px solid $red;
      border-radius: 7px;
    }
  }
  .form-info
  {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
  }
  label
  {
    font-size: 1em;
  }
  .form-error
  {
    font-size: 0.8em;
    color: red;
    transition: 0.1s ease-out;
    opacity: 0;
  }
  button
  {
    @include btn2(block);
  }
}